name: Build VV8 postprocessors
on:
  push:
    branches:
      - 'master'
jobs:
  upload_to_docker:
    name: Push docker image to docker Hub
    runs-on: [self-hosted, linux, postprocessor-builder]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      # - name: Build postprocessors
      #   uses: ./.github/build-postprocessors
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: visiblev8
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Extract short SHA
        id: short_sha
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: visiblev8/vv8-postprocessors
          tags: |
            type=raw,value=latest,enable=true
            type=raw,value=${{ steps.short_sha.outputs.sha_short }},enable=true
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push post-processor image
        uses: docker/build-push-action@v6
        with:
          file: ./.github/build-postprocessors/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: visiblev8/vv8-postprocessors:latest

      - name: Remove artifacts
        if: always()
        uses: docker://ubuntu:latest
        with:
          entrypoint: /usr/bin/rm
          args: -rf ./post-processor/
